/* Customizations */

/* "add gray matter" */
:root {
  --gray-color: #7a8288;
  --gray-color-dark: #202020;
  --gray-color-light: #dcdcdc;
  --primary-color: var(--gray-color-dark);
  --link-color: var(--gray-color);
}

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa,
.social-icons i,
.social-icons .svg-inline--fa,
.social-icons .fas,
.social-icons .fab,
.social-icons .far,
.social-icons .fal {
  color: var(--gray-color) !important;
}

/* "smaller fonts" */
body {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.25em;
}

/* "opaque author" */
.author__avatar:hover {
  opacity: 1;
}

/* "Share on" styling */
.page__share-title {
  color: var(--gray-color);
}

.page__share .btn {
  background-color: var(--gray-color) !important;
  color: #fff !important;

  &:hover {
    background-color: var(--gray-color-dark) !important;
  }
}

